.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.root body{
  margin:0px; 
  padding:0px;
}

#drum-machine{
  margin:0px;
  padding:0px;
  text-align:center;
}

.Display-text{
  font-size:30px;
}

#display{
  color:white;
}

.Display-pattern{
  width:80%;
  height:30%;
  min-height:100px;
  background-color:rgb(29, 29, 29);
  margin:0px;
  padding:10px;
  display:inline-block;
  border-radius:5px;
}

.Display-sounds{
  background-color:rgb(35, 35, 247) !important;
  color:white !important;
  margin:5px !important;
}

.Display-tinyX{
  width:15px;
  height:15px;
  top:0px;
  font-size:15px;
  color:rgb(153, 255, 0);
  background-color:transparent;
  border: solid 0 transparent;
  text-align:left;
  padding:0px;
  margin:0px;
}

.Control-buttons{

}

.Display-tinyX:hover{
  text-shadow: yellow 5px 5px 5px;
}

.clicked{
  background-color:greenyellow !important;
}

.unclicked{
  background-color:white;
}

.recordOn{
  background-color:blueviolet !important;
  color:white !important;
}

.recordOff{
  background-color:white;
}

.Footer{
  width:50%;
  margin:0 auto;
}